<section
  class="fixed inset-0 flex justify-center items-center w-full min-h-screen bg-black bg-opacity-30 z-10"
  (click)="close()"
>
  <div
    class="relative flex flex-wrap justify-center gap-x-16 gap-y-6 items-center animate__animated animate__zoomIn border border-primary bg-secondary px-10 py-5 rounded-lg mx-5"
    (click)="SP($event)"
  >
    <input
      type="datetime-local"
      [(ngModel)]="newDate"
      class="bg-primary text-white p-2"
    />
    <div>
      <span class="text-primary mr-2">R$</span>
      <input
        type="number"
        [value]="newPrice"
        [(ngModel)]="newPrice"
        class="p-2 border border-primary text-primary bg-transparent max-w-16 placeholder:text-[#6A512C60]"
        autofocus
        placeholder="Preço"
      />
    </div>
    <select
      class="bg-primary text-white payment-select p-2 cursor-pointer"
      [(ngModel)]="newPayment"
    >
      <option value="Pix">Pix</option>
      <option value="Dinheiro">Dinheiro</option>
      <option value="Débito">Débito</option>
      <option value="Crédito">Crédito</option>
    </select>
    <div>
      <button
        class="py-1 px-3 border border-primary bg-primary text-white"
        (click)="updateItem()"
      >
        Salvar
      </button>
      <button
        class="py-1 px-3 border border-primary bg-secondary text-primary"
        (click)="close()"
      >
        Cancelar
      </button>
    </div>
  </div>
</section>
