<section
  class="fixed inset-0 flex justify-center items-center w-full min-h-screen bg-black bg-opacity-30 z-50"
  (click)="close()"
>
  <form
    class="relative flex flex-wrap justify-center gap-x-5 gap-y-6 items-center animate__animated animate__zoomIn animate__faster border border-primary bg-secondary px-5 py-5 rounded-lg mx-5"
    (click)="stopPropagation($event)"
    (ngSubmit)="updateItem()"
  >
    <input
      type="datetime-local"
      [(ngModel)]="newDate"
      name="date"
      class="bg-primary text-white p-2 rounded"
    />
    <div>
      <span class="text-primary mr-2">R$</span>
      <input
        type="number"
        [value]="newPrice"
        [(ngModel)]="newPrice"
        name="price"
        class="p-1.5 border border-primary text-primary bg-transparent max-w-16 rounded placeholder:text-[#6A512C60]"
        autofocus
        placeholder="Preço"
      />
    </div>
    <select
      class="bg-primary text-white payment-select p-2 cursor-pointer rounded"
      [(ngModel)]="newPayment"
      name="payment"
    >
      <option value="Pix">Pix</option>
      <option value="Dinheiro">Dinheiro</option>
      <option value="Débito">Débito</option>
      <option value="Crédito">Crédito</option>
    </select>
    <div>
      <button
        type="submit"
        class="py-1 px-3 border border-primary bg-primary text-white rounded-l"
        (click)="updateItem()"
      >
        Salvar
      </button>
      <button
        type="button"
        class="py-1 px-3 border border-primary bg-secondary text-primary rounded-r"
        (click)="close()"
      >
        Cancelar
      </button>
    </div>
    <button (click)="deleteItem()" type="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="1.4em"
        height="1.4em"
        viewBox="0 0 1408 1536"
      >
        <path
          class="fill-red-800"
          d="M512 1248V544q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23m256 0V544q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23m256 0V544q0-14-9-23t-23-9h-64q-14 0-23 9t-9 23v704q0 14 9 23t23 9h64q14 0 23-9t9-23M480 256h448l-48-117q-7-9-17-11H546q-10 2-17 11zm928 32v64q0 14-9 23t-23 9h-96v948q0 83-47 143.5t-113 60.5H288q-66 0-113-58.5T128 1336V384H32q-14 0-23-9t-9-23v-64q0-14 9-23t23-9h309l70-167q15-37 54-63t79-26h320q40 0 79 26t54 63l70 167h309q14 0 23 9t9 23"
        />
      </svg>
    </button>
  </form>
</section>
