<main
  class="flex flex-col justify-center items-center gap-4 min-h-screen bg-[#FFFCF7] font-['Rubik']"
>
  <h1 class="text-xl">Julho</h1>
  <section
    class="flex flex-col border border-primary w-[30rem] rounded-lg max-h-[70vh] overflow-y-auto"
  >
    @for (item of items; track $index) {
    <div
      class="flex justify-evenly gap-8 text-lg py-3 border-b border-primary w-full"
    >
      <p class="font-semibold w-[10rem] text-center">{{ item.date }}</p>
      <p class="w-[10rem] text-center">{{ item.price }}</p>
      <p class="w-[10rem] text-center">{{ item.payment }}</p>
    </div>
    }
  </section>
  <div class="">
    <input
      type="text"
      [value]="priceValue"
      [(ngModel)]="priceValue"
      (input)="mask()"
      class="p-2 border border-primary bg-transparent"
      size="10"
    />
    <button
      class="p-2 border border-primary bg-primary text-white"
      (click)="addItem(priceValue)"
    >
      Adicionar
    </button>
  </div>
</main>
