label {
  cursor: pointer;
  margin: 0 10px;
}

#pix:checked ~ #label-pix path {
  fill: #000;
}
#card:checked ~ #label-card path {
  fill: #000;
}
#cash:checked ~ #label-cash path {
  fill: #000;
}

input[type="radio"] {
  display: none;
}
