<edit-item
  *ngIf="showEdit"
  [items]="items"
  (showEditCard)="onShowEditCard($event)"
  [itemId]="itemId"
  [selectedMonth]="selectedMonth"
  (setMonthSelling)="setMonthSelling(selectedMonth)"
></edit-item>
<main
  class="flex flex-col justify-center items-center min-h-screen bg-secondary font-['Rubik'] w-full sm:px-12"
>
  <section class="flex flex-col gap-2 items-center max-w-[50rem] w-full">
    <div
      class="flex justify-between items-center w-full gap-y-2 max-[450px]:flex-col max-[450px]:justify-center"
    >
      <div class="flex gap-2 font-bold text-primary w-[50%] overflow-auto">
        @for (item of monthKeys; track $index) {

        <button
          (click)="changeMonth(item)"
          class="border border-primary px-4 py-1 rounded"
          [ngClass]="{
            '!bg-primary !text-white': this.selectedMonth === item
          }"
        >
          {{ item.toLocaleUpperCase() }}
        </button>
        }
      </div>
      <span class="text-primary font-normal self-center">
        Venda total no mês: R$ {{ monthSelling }}
      </span>
    </div>
    <div
      class="flex flex-col border border-primary w-full h-[70vh] overflow-y-auto sm:rounded"
    >
      @for (item of items[selectedMonth]; track $index) {
      <div
        class="flex justify-between gap-8 py-3 border-b border-primary w-full text-primary px-4 hover:bg-primary hover:bg-opacity-5 cursor-pointer"
        (click)="showEditCard(item.id)"
      >
        <p class="font-semibold text-center animate__bounceIn sm:flex-1">
          {{ item.date }}
        </p>
        <p class="text-center flex-1 animate__bounceIn">
          R$ {{ item.price }},00
        </p>
        <p class="text-center flex-1 animate__bounceIn">{{ item.payment }}</p>
      </div>
      } @empty {
      <p class="text-primary text-opacity-50 mx-auto mt-5">
        Nenhum item adicionado
      </p>
      }
    </div>
    <div class="flex items-center">
      <form (ngSubmit)="addItem()" class="flex flex-row-reverse items-center">
        <div>
          <span class="!text-primary mr-2">R$</span>
          <input
            type="number"
            name="price"
            [value]="priceValue"
            [(ngModel)]="priceValue"
            class="p-2 border border-primary text-primary bg-transparent max-w-16 placeholder:text-[#6A512C60] rounded-l"
            max="5000"
            autofocus
            placeholder="Preço"
          />
          <button
            class="p-2 border border-primary bg-primary text-white rounded-r"
            type="submit"
          >
            Adicionar
          </button>
        </div>
        <div class="relative flex items-center gap-6 mr-6">
          <input
            type="radio"
            name="payment-method"
            id="pix"
            value="Pix"
            [(ngModel)]="paymentMethod"
          />
          <input
            type="radio"
            name="payment-method"
            id="cash"
            value="Dinheiro"
            [(ngModel)]="paymentMethod"
          />
          <input
            type="radio"
            name="payment-method"
            id="card"
            value="card"
            [(ngModel)]="paymentMethod"
          />
          <label for="pix" id="label-pix" title="Pix">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2em"
              height="2em"
              viewBox="0 0 512 512"
            >
              <path
                fill="#6A512C60"
                d="M242.4 292.5c5.4-5.4 14.7-5.4 20.1 0l77 77c14.2 14.2 33.1 22 53.1 22h15.1l-97.1 97.1c-30.3 29.5-79.5 29.5-109.8 0l-97.5-97.4h9.3c20 0 38.9-7.8 53.1-22zm20.1-73.6c-6.4 5.5-14.6 5.6-20.1 0l-76.7-76.7c-14.2-15.1-33.1-22-53.1-22h-9.3l97.4-97.44c30.4-30.346 79.6-30.346 109.9 0l97.2 97.14h-15.2c-20 0-38.9 7.8-53.1 22zm-149.9-76.2c13.8 0 26.5 5.6 37.1 15.4l76.7 76.7c7.2 6.3 16.6 10.8 26.1 10.8c9.4 0 18.8-4.5 26-10.8l77-77c9.8-9.7 23.3-15.3 37.1-15.3h37.7l58.3 58.3c30.3 30.3 30.3 79.5 0 109.8l-58.3 58.3h-37.7c-13.8 0-27.3-5.6-37.1-15.4l-77-77c-13.9-13.9-38.2-13.9-52.1.1l-76.7 76.6c-10.6 9.8-23.3 15.4-37.1 15.4H80.78l-58.02-58c-30.346-30.3-30.346-79.5 0-109.8l58.02-58.1z"
              />
            </svg>
          </label>
          <label for="cash" id="label-cash" title="Dinheiro">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2.3em"
              height="2.3em"
              viewBox="0 0 16 16"
            >
              <path
                fill="#6A512C60"
                d="M1 4.25C1 3.56 1.56 3 2.25 3h9.5c.69 0 1.25.56 1.25 1.25v5.5c0 .69-.56 1.25-1.25 1.25h-9.5C1.56 11 1 10.44 1 9.75zm3 .25V4H3v.5a.5.5 0 0 1-.5.5H2v1h.5A1.5 1.5 0 0 0 4 4.5M9 7a2 2 0 1 0-4 0a2 2 0 0 0 4 0m2-3h-1v.5A1.5 1.5 0 0 0 11.5 6h.5V5h-.5a.5.5 0 0 1-.5-.5zM4 9.5A1.5 1.5 0 0 0 2.5 8H2v1h.5a.5.5 0 0 1 .5.5v.5h1zm7 .5v-.5a.5.5 0 0 1 .5-.5h.5V8h-.5A1.5 1.5 0 0 0 10 9.5v.5zm-6.5 3a1.5 1.5 0 0 1-1.427-1.036Q3.281 12 3.5 12h8.25A2.25 2.25 0 0 0 14 9.75V5.085A1.5 1.5 0 0 1 15 6.5v3.25A3.25 3.25 0 0 1 11.75 13z"
              />
            </svg>
          </label>
          <label for="card" id="label-card" title="Cartão">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="2em"
              height="2em"
              viewBox="0 0 512 512"
            >
              <path
                fill="#6A512C60"
                d="M32 376a56 56 0 0 0 56 56h336a56 56 0 0 0 56-56V222H32Zm66-76a30 30 0 0 1 30-30h48a30 30 0 0 1 30 30v20a30 30 0 0 1-30 30h-48a30 30 0 0 1-30-30ZM424 80H88a56 56 0 0 0-56 56v26h448v-26a56 56 0 0 0-56-56"
              />
            </svg>
          </label>
          <select
            class="bg-primary text-white payment-select cursor-pointer p-1.5 rounded"
            *ngIf="['Débito', 'Crédito', 'card'].includes(paymentMethod)"
            [(ngModel)]="cardType"
            name="cardType"
          >
            <option value="Débito" selected>Débito</option>
            <option value="Crédito">Crédito</option>
          </select>
        </div>
      </form>
    </div>
  </section>
</main>
